*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: #d2d0db;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

.intro{
    padding-top: 5%;
    font-size: 1em;
    color: #2b2a33;
}

.header_class {
    background-color: #2b2a33;
    color: #e8e8e8;
    padding-left: 9%;
    padding-top: 2%;
    padding-bottom: 2%;
    top: 0%;
}

.about{
    padding-top: 2%;
    padding-bottom: 2%;
}

.title{
    font-size: 1.8em;
    color: #e8e8e8;
}

.title1{
    font-size: 2.2em;
    color: #e8e8e8;
}
.content {
    padding-left: 10%;
    padding-right: 15%;
}

button {
    background-color: #2b2a33;
    border: #2b2a33 solid 2px;
    color: #e8e8e8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #1f1f25; 
    border: #2b2a33  solid 2px;
    cursor: pointer;
    transition: 0.3s;
}

.project{
    color: #e8e8e8;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #2b2a33;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project:hover{
    background-color: #1f1f25;
    transition: 0.3s;
}

.box{
    background-color: #1f1f25;
    color: #e8e8e8;
    border: none;
    height: 400px;
    width: 60%;
    padding: 1%;
    overflow: scroll;
    margin: 1%;
}

.photos{
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a {
    text-decoration: none;
    color: #e8e8e8;
}

.azir{
    margin-left: 13%;
    margin-top: 4%;
    margin-right: 5%;
    float: left;
    border-radius: 50%;
    width: 30%;
}

@media (min-width:640px){
    .azir{
        width: 11%;
    }
}

@media (max-width:640px){
    .content{
        padding: 0%;
    }
}

button{
    margin: 1%;
}

p{
    font-size: 1em;
}

.footer {
    background-color: #2b2a33;
    color: #e8e8e8;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #e8e8e8;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #e8e8e8;
    transform-origin: center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}