*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: #d2d0db;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.intro{
    padding-top: 5%;
    font-size: 1em;
    color: #2b2a33;
}

.header_class {
    background-color: #2b2a33;
    color: #e8e8e8;
    padding-left: 9%;
    padding-top: 2%;
    padding-bottom: 2%;
    top: 0%;
}

.about{
    padding-top: 2%;
    padding-bottom: 2%;
}

.title{
    font-size: 1.8em;
    color: #e8e8e8;
}

.title1{
    font-size: 2.2em;
    color: #e8e8e8;
}
.content {
    padding-left: 10%;
    padding-right: 15%;
}

button {
    background-color: #2b2a33;
    border: #2b2a33 solid 2px;
    color: #e8e8e8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.3s;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover {
    background-color: #1f1f25; 
    border: #2b2a33  solid 2px;
    cursor: pointer;
}

.project{
    color: #e8e8e8;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #2b2a33;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box{
    background-color: #1f1f25;
    color: #e8e8e8;
    border: none;
    height: 400px;
    width: 60%;
    padding: 1%;
    overflow: scroll;
    margin: 1%;
}

.photos{
    padding-top: 1%;
    padding-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a.srclink:link{
    color: #1c1b22;
}

a.mail:link{
    color: #1c1b22;
    text-decoration: none;
}

a.mail:visited {
text-decoration: none;
color: #1c1b22;
}

.azir{
    margin-left: 13%;
    margin-top: 4%;
    margin-right: 5%;
    float: left;
    border-radius: 50%;
    width: 30%;
}

@media (min-width:640px){
    .azir{
        width: 10%;
    }
}

@media (max-width:640px){
    .content{
        padding: 0%;
    }
}

button{
    margin: 1%;
}

p{
    font-size: 1em;
}